# this file is based on the examples provided on scikit-bio's .coveragerc

[run]
source=pmaf
omit=
    */tests/*
    */__init__.py
    */pmaf/internal/_extensions/*
include = */pmaf/*
parallel = True

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    */tests*
    */__init__.py

[xml]
output=coverage.xml
